body {
    background-color: coral;
}

#wrap {
    background-color: azure;
    margin: 5% 20%;
    text-align: center;
    border-style: dotted;
}

h1 {
    font-family:'Poiret One', cursive;
    font-weight: bold;
    border-bottom:dotted;
}

ul {
    list-style-type: none; 
}

li::first-letter {
    font-size: xx-large;
}